DOMAIN_CLIENT=https://artdent-ai.ru
DOMAIN_SERVER=https://artdent-ai.ru
APP_TITLE=Artdent AI
ALLOW_REGISTRATION=false
ALLOW_EMAIL_LOGIN=true
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false
ALLOW_PASSWORD_RESET=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=false
ENDPOINTS=agents,custom
OPENROUTER_KEY=REPLACE_WITH_OPENROUTER_KEY
HTTP_PROXY=http://PROXY_IP:8888
HTTPS_PROXY=http://PROXY_IP:8888
NO_PROXY=localhost,127.0.0.1,::1,mongodb,redis,meilisearch,rag_api,vectordb,api,admin-panel,10.95.0.2
JWT_SECRET=REPLACE_WITH_32_RANDOM_BYTES_HEX
JWT_REFRESH_SECRET=REPLACE_WITH_32_RANDOM_BYTES_HEX
CREDS_KEY=REPLACE_WITH_32_RANDOM_BYTES_HEX
CREDS_IV=REPLACE_WITH_16_RANDOM_BYTES_HEX
DEBUG_LOGGING=false
DEBUG_CONSOLE=false
CONSOLE_JSON=true
SCARF_ANALYTICS=false
TRUST_PROXY=1
SEARCH=true
