ACME_EMAIL=admin@example.com
MONGO_PASSWORD=REPLACE_WITH_32_RANDOM_BYTES_HEX
POSTGRES_PASSWORD=REPLACE_WITH_32_RANDOM_BYTES_HEX
MEILI_MASTER_KEY=REPLACE_WITH_32_RANDOM_BYTES_HEX
REDIS_PASSWORD=REPLACE_WITH_32_RANDOM_BYTES_HEX
ADMIN_PANEL_SESSION_SECRET=REPLACE_WITH_32_RANDOM_BYTES_HEX
